body {
    background-color: black;
    margin: 0px;
    /* background: rgb(2,0,36);
    background: linear-gradient(0deg ,rgb(0,0,0) 0%, rgb(17,7,60) 100%); */

}

/* svg {
    overflow: visible;
} */

.container {
    margin: auto;
    display: block;
    width: 100%; 
    z-index: 2;
}

.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: white;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    pointer-events: all;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

p:hover {
    text-decoration: underline;
}

#reset {
    font-style: italic;
}

.highlight {
    stroke-width: 5px;
    stroke: rgba(255, 255, 255, .75);
}

.mobile {
    height: 100vh;
    text-align: right;
    position: fixed;
    right: 0;
    top: 0;
    float: right;
    flex-direction: column;
}

.mobileReset {
    display: none;
}

.mobileTitle {
    font-size: 0px;
    /* transition: font-size 200ms; */
}

.mobileContainer {
    height: 100vh;
    overflow: scroll;
}